// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
	font-family: 'Rajdhani', sans-serif;
	font-size:1.2rem;
	margin:0!important;
	padding:0!important;
	width:100%;
}
body{
	height:100%;
}


//VIEW MAIN
.cst-div-hello{
	text-align: center;
	height:100%!important;
}
.cst-div-hello p{
	font-size: 0.8rem;
}
.cst-compte{
	font-size: 15px;
    position: absolute;
    color:grey;
    left:0;
}
.cst-ul li a{
	color:#838486;
}

.cst-row-admin{
	height:50%;
	position: relative;
}
.cst-row-sub-admin{
	height:100%;
	
}
.cst-avatar{
	width: 30%;
    height: 80%;
}
.header{
	background-color:#cdcdcd;
}
.container-fluid{
	width:100%;
	margin:0!important;
	padding:0!important;
}
.container-main{
	margin:0!important;
	padding:0!important;
}
.cst-ul{
	display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.cst-col-aside{
	background-color: #edecec;
} 
.cst-col-main-left{
	height:93vh;
	margin:0!important;
	padding:0!important;
} 
.cst-col-main-right{
	height:93vh;
	margin:0!important;
	padding:0!important;
}    
.cst-main-row{
	margin:0!important;
	padding:0!important;
}
.cst-footer{
	position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    background-color: #ebebeb;
    height: 37px;
}
.cst-calendar{
	background: #edebeb;
    border-radius: 8px;
    box-shadow: 5px 5px 5px grey;
    height: 29px;
    font-size:0.9rem;
}
.cst-header{
    height: 45px;
}
.cst-div-header{
	height:40px;
}
.cst-logo{
	height: 100%;
}
.cst-subrow{
	height:33%;
	border:1px solid #eeeeee;
	margin:0!important;
	display: flex;
    justify-content: center;
    align-items: center;
}

#draggable{
	z-index: 100;
}

.cst-Module{
	width: 100%; 
	height: 50%;

}

.input{
	display: none; 
	height: 100%; 
	resize:none;
}