// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$colorGrey1: #eeeeee;
$colorGrey2: #424242;
$colorYellow: #f8da63;
$colorGreen: #45e0aa;
$colorGreen2: #497264;
$colorRed: #b71717;
$fontParagraph: 'Cormorant Garamond', serif;
$fontMain: 'Amatic SC', cursive;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	height:100%;
	background-color: #fff;
}

*{
	font-family: 'Rajdhani', sans-serif;
	font-size:1.2rem;
	margin:0;
	padding:0;
	width:100%;
	font-family: $fontParagraph;
	
}



h1{
	font-family: $fontMain;
	color: $colorGreen2;
	
}
p{
	font-family: $fontParagraph;
}

button{
	background-image: linear-gradient(to top right, $colorGreen, $colorYellow);
	border :none;
	border-radius: 20px;
}
/*NAV BAR*/

.cst-nav{
	background-color: $colorGreen;
	
}
.cst-nav a{
	
	color: $colorGrey1;
}

/*VIEW LOGIN*/

.cst-login-head{
	color:$colorYellow;
	font-family: $fontMain;
}
.cst-btn-login{
	background-color: $colorYellow;
}

/*view contact*/
.cst-background{
	background-image: linear-gradient(to top right, $colorGreen2, $colorGreen, $colorYellow);
	min-height: 200px;



}

.header{
	background: $colorGreen!important;
	height: 60px; 
	box-shadow: 0px 5px 5px rgb(163, 158, 158);

	nav{
		text-align: right;
		padding-top: 10px;
		letter-spacing: .2rem;

		a{
			color : $colorGrey2;
			font-family: $fontMain;
		}
	}
}


.cst-contact-img{
	margin:0 auto!important;
	width: 60%;
}


.cst-contact-footer{
	background-color:  $colorGrey2;
	box-shadow: 0px -2px 5px rgb(163, 158, 158);
	padding-top: 10px;
	a{
		padding-top: 10px;
		color: $colorGrey1;
		font-family: $fontParagraph;
	} 

	p{
		
		color: $colorGrey1;
		font-family: $fontParagraph;
	}
}
.cst-contact-titre{
	font-size: 3rem;

}

.cst-contact-titre1{
	font-family: $fontMain;
}
.cst-contact-p{
	font-size: 1rem;
	padding: 0px;
	color : $colorGrey2
}


.img-membre-4{
    width: 328px;
}

/*VIEW REGISTER*/
.cst-register{
	color:$colorYellow!important;
} 
.card-header{
	background-color:#fff; 
}
.card-body{
	background-color: $colorGreen;
	color:$colorGrey1;
}
.cst-template{
	margin:0 auto;
}
.cst-check-template{
	margin:0;
}
.cst-btn-register{
	background-color: $colorYellow;
}

/*VIEW MOOD*/

.cst-mood{
	border:1px dashed $colorGrey1;
	height: 84px;
	background-color: $colorGrey2;
}
.cst-p-mood{
	font-size: 0.8rem;
	color: $colorGreen;
}
.cst-label-choice{
	font-size: 0.8rem;
	text-align: center;
	color: $colorGreen;
}
.cst-select-mood option{
	font-size: 0.8rem;
	color: $colorGreen;
}.cst-mood{
	border-radius: 54px;
}
.cst-row-mood{
	margin-top: 74px;
	}    
.cst-div-select{
	margin-left: 12px;
}

/*VIEW MAIN*/
.cst-div-hello{
	text-align: center;
	height:100%!important;
}
.cst-div-hello p{
	font-size: 0.8rem;
}
.cst-compte{
	font-size: 15px;
    position: absolute;
    color:grey;
    left:0;
}
.cst-ul li a{
	color:#838486;
}

.cst-row-admin{
	height:50%;
	position: relative;
}
.cst-row-sub-admin{
	height:100%;
	
}
.cst-avatar{
	width: 30%;
    height: 80%;
}
.header{
	background-color:#cdcdcd;
}
.container-fluid{
	width:100%;
	margin:0!important;
	padding:0!important;
}
.container-main{
	margin:0!important;
	padding:0!important;
}
.cst-ul{
	display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.cst-col-aside{
	background-color: #edecec;
} 
.cst-col-main-left{
	height:93vh;
	margin:0!important;
	padding:0!important;
} 
.cst-col-main-right{
	height:93vh;
	margin:0!important;
	padding:0!important;
}    
.cst-main-row{
	margin:0!important;
	padding:0!important;
}
.cst-footer{
	position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    background-color: #ebebeb;
    height: 37px;
}
.cst-calendar{
	background: #edebeb;
    border-radius: 8px;
    box-shadow: 5px 5px 5px grey;
    height: 29px;
    font-size:0.9rem;
}
.cst-header{
    height: 45px;
}
.cst-div-header{
	height:40px;
}
.cst-logo{
	height: 100%;
}
.cst-subrow{
	height:33%;
	border:1px solid #eeeeee;
	margin:0!important;
	display: flex;
    justify-content: center;
    align-items: center;
}

#draggable{
	z-index: 100;
}

.cst-Module{
	width: 100%; 
	height: 50%;

}

.input{
	display: none; 
	height: 100%; 
	resize:none;
}

/*VIEW TODO*/

.cst-todo-p{
	font-size: 1rem;
}

